@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

body > div:nth-child(4) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  color: black;
}

div:nth-child(1) {
  background-color: #e4f1fe;
}
div:nth-child(2) {
  background-color: #336e7b;
}
div:nth-child(3) {
  background-color: #4d05e8;
}

div > div:nth-child(1) {
  background-color: #013243;
}
div > div:nth-child(2) {
  background-color: #19b5fe;
}
div > div:nth-child(3) {
  background-color: #1e8bc3;
}
div > div:nth-child(4) {
  background-color: #1f3a93;
}
